* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    scroll-behavior: smooth;
}

:focus {
    outline: none;
}

html {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    min-height: 100vh;
    user-select: none;
}

a {
    text-decoration: none;
}

.sec {
    position: relative;
}

.m30 {
    margin: 0 30px;
}


/* ================================= */
/* Background Colors */

.bg-primary {
    background: #212121;
}

.bg-secondary {
    background: #101010;
}


/* ================================= */
/* Header */

.header-logo {
    width: 300px;
}

.header {
    position: fixed;
    padding: 5px 40px;
    display: flex;
    left: 50%;
    width: 101%;
    transform: translate(-50%);
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
    transition: 0.3s ease-in-out;
}

.filled {
    padding: 12px 60px;
    background: #1a1a1a;
    box-shadow: 0 10px 20px #000000aa;
}


.nav ul {
    display: flex;
}

.nav ul li {
    list-style: none;
    margin-left: 60px;
}

.nav-link {
    padding: 5px 0px;
    letter-spacing: 3px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    transition: 0.3s;
}

.nav-link:hover {
    color: #ff517f;
}


/* ================================= */
/* Footer */

.footer-logo {
    width: 200px;
}

.footer {
    position: absolute;
    width: 100%;
    padding: 30px 60px;
    background: #1a1a1a;
    box-shadow: 0 -10px 20px #000000aa;
}

.col-1,
.col-2 {
    display: inline-block;
    vertical-align: top;
}

.col-1 {
    width: 30%;
}

.col-2 {
    width: 69%;
    padding-top: 50px;
}


hr {
    border: 1px solid #444;
    margin: 30px 0;
}


.copyright {
    display: inline-block;
    color: #828282;
}

.policies {
    float: right;
}

.policies ul {
    display: flex;
}

.policies ul li {
    list-style: none;
    margin-left: 20px;
}

.policy-link {
    color: #828282;
    transition: 0.3s;
    cursor: pointer;
}

.policy-link:hover,
.active {
    color: #f9f9f9;
}


/* ================================= */
/* Social Media Icons */

.social-media {
    margin: 30px 0;
}

.wrapper {
    display: inline-flex;
    list-style: none;
}

.wrapper .icon {
    position: relative;
    background: #333;
    border-radius: 8px;
    padding: 5px;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
    position: absolute;
    bottom: 0;
    font-size: 14px;
    background: #333;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #333;
    top: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
    bottom: -35px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .fb:hover,
.wrapper .fb:hover .tooltip,
.wrapper .fb:hover .tooltip::before {
    background: #3b5998;
}

.wrapper .tw:hover,
.wrapper .tw:hover .tooltip,
.wrapper .tw:hover .tooltip::before {
    background: #1da1f2;
}

.wrapper .in:hover,
.wrapper .in:hover .tooltip,
.wrapper .in:hover .tooltip::before {
    background: #0077b5;
}

.wrapper .be:hover,
.wrapper .be:hover .tooltip,
.wrapper .be:hover .tooltip::before {
    background: #053eff;
}

.wrapper .ig:hover,
.wrapper .ig:hover .tooltip,
.wrapper .ig:hover .tooltip::before {
    background: #e4405f;
}

.wrapper .pin:hover,
.wrapper .pin:hover .tooltip,
.wrapper .pin:hover .tooltip::before {
    background: #bd081c;
}


.subscribe form {
    position: relative;
    display: flex;
    margin-top: 60px;
}


.sub-input {
    color: white;
    font-weight: 500;
    font-size: 18px;
    border-radius: 8px;
    line-height: 22px;
    background-color: transparent;
    border: 2px solid #992c8d;
    transition: all 0.3s;
    padding: 13px;
    width: 600px;
    box-sizing: border-box;
    outline: 0;
}

.sub-input:focus {
    border: 2px solid #e63b86;
}

.sub-btn {
    margin-left: 5px;
}


/* ================================= */
/* Parallax Hero */

.parallax-hero {
    position: relative;
    height: 140vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parallax-hero img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    pointer-events: none;
}

#asset1 {
    position: fixed;
}

#asset10 {
    transform: translateY(139vh);
    filter: drop-shadow(0px 10px 5px #00000099);
    z-index: 1;
}

#tagline {
    position: relative;
    margin: 0 20px;
    transform: translateY(-170px);
    color: white;
    text-align: center;
    font-size: 2.2em;
}

#explore-btn {
    position: absolute;
    transform: translateY(-70px);
    text-decoration: none;
    display: inline-block;
    padding: 15px 30px;
    border: solid white 3px;
    border-radius: 8px;
    color: white;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 3px;
    text-transform: uppercase;
}


/* ================================= */
/* Text */

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-primary {
    color: #f9f9f9;
}

.text-secondary {
    color: #a9a9a9;
}

.text-lg {
    font-size: 3em;
}

.text-md {
    font-size: 1.5em;
}

.text-sm {
    font-size: 1.1em;
}


/* ================================= */
/* Link */

.link-primary {
    color: #f9f9f9;
    transition: color 0.3s ease;
}

.link-primary:hover {
    color: #a9a9a9;
}

.link-secondary {
    color: #a9a9a9;
    transition: color 0.3s ease;
}

.link-secondary:hover {
    color: #f9f9f9;
}


/* ================================= */
/* Button Classes */

.btn {
    display: inline-block;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.4s;
    font-size: 1em;
    letter-spacing: 3px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}

.btn-primary {
    background: linear-gradient(90deg, #992c8d, #e63b86, #fcc0b5, #e63b86, #992c8d);
    background-size: 400% 400%;
    color: white;
    background-position: 100% 0;
}

.btn-primary:hover {
    background-position: 0;
}

.btn-secondary {
    background: linear-gradient(90deg, transparent, transparent, #fcc0b5, #e63b86, #992c8d);
    outline: 3px solid #992c8d;
    outline-offset: -3px;
    color: #992c8d;
    background-size: 400% 400%;
    background-position: 0% 0;
}

.btn-secondary:hover {
    outline: 3px solid transparent;
    outline-offset: -3px;
    color: white;
    background-position: 100% 0;
}

.btn-lg {
    padding: 15px 30px;
}

.btn-sm {
    padding: 7px 15px;
}



/* ================================= */
/* Home Page */

.img-text {
    display: flex;

}

.pix-111 {
    width: 50%;
    flex: 1;
    z-index: 1;
    transform: translateY(20%);
}

.text-111 {
    flex: 1;
    margin-top: 20%;
}



#sec-12 {
    padding: 100px 0;

}

.logo-21,
.logo-22 {
    position: absolute;
    width: 550px;
    opacity: 0.5;
    margin-top: -40px;
}

.logo-21 {
    transform: translateX(-40%);
}

.logo-22 {
    left: 100%;
    transform: translateX(-60%);
}


.service-cards {
    width: 1000px;
    position: relative;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    justify-content: space-between;
}

.service-cards .card {
    position: relative;
    border-radius: 10px;
}

.service-cards .card .card-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.7s;
}

.service-cards .card .face {
    width: 200px;
    height: 200px;
    transition: 0.5s;
    border-radius: 8px;
}

.service-cards .card .face.face1 {
    position: relative;
    background: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.service-cards .card:hover .face.face1 {
    background: #333;
    transform: translateY(15px);
}

.service-cards .card .face.face1 .content {
    opacity: 1;
    transition: 0.5s;
}

.service-cards .card:hover .face.face1 .content {
    opacity: 1;
}

.service-cards .card .face.face2 {
    position: relative;
    background: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
}

.service-cards .card:hover .face.face2 {
    transform: translateY(0);
}


.btn-111 {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 40px;
}



#sec-13 {
    padding: 80px 0;
}

.partners {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 1rem;
}

.partners>div {
    background: #101010;
    border-radius: 8px;
    padding: 1rem;
    display: grid;
    place-items: center;
}

.partners>div::before {
    content: "";
    display: block;
    padding-bottom: 100%;
    grid-area: 1/1/2/2;
}

.partners>div img {
    width: 100%;
    grid-area: 1/1/2/2;
}



#sec-14 {
    padding: 80px 0;
}

.img-text-right {
    display: flex;
}

.pix-141 {
    flex: 1;
    width: 50%;
}

.text-141 {
    flex: 1;
}

.text-141 h1 {
    margin-bottom: 70px;
}

.text-141 hr {
    width: 100%
}



#sec-15 {
    padding: 80px 0;
    display: flex;
}

.pix-151 {
    position: absolute;
    flex: 1;
    width: 50%;
    left: 47%;
    margin-top: -16%;
}

.text-151 {
    position: relative;
    padding: 0 50px;
    flex: 1;
    text-shadow: 2px 2px 1px #212121;
}

.btn-151 {
    position: relative;
    margin-top: 40px;
    margin-left: 50px;
}


/* ================================= */
/* About Page */

.about-title {
    margin: 30vh 0;
}

#sec-21 {
    padding: 60px;
}

.text-211 h2 {
    margin-bottom: 30px;
}



/* ================================= */
/* Blog Page */

#sec-31 {
    min-height: 100vh;

}

.text-311 {
    margin: 30vh 0;
}

.band {
    width: 90%;
    max-width: 1240px;
    margin: 50px auto;
    margin-bottom: 20vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
}

@media (min-width: 60em) {
    .band {
        grid-template-columns: repeat(4, 1fr);
    }
}

.post {
    background: #333;
    border-radius: 15px;
    text-decoration: none;
    color: #a9a9a9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    min-height: 100%;
    position: relative;
    top: 0;
    transition: all 0.1s ease-in;
}

.post:hover {
    top: -2px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

.post article {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.post h1 {
    font-size: 20px;
    margin: 0;
    color: #fff;
}

.post p {
    flex: 1;
    line-height: 1.4;
}

.post span {
    font-size: 12px;
    font-weight: bold;
    color: #999;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin: 2em 0 0 0;
}

.post .thumb {
    padding-bottom: 60%;
    background-size: cover;
    background-position: center center;
    border-radius: 15px;
}


/* ================================= */
/* Contact Page */

#sec-41 {
    display: flex;
    margin-top: 80px;
}


.pix-411 {
    position: absolute;
    margin-top: 50px;
    width: 60%;
    float: left;
    filter: drop-shadow(0 0 10px #000);
}

.contact {
    background: #101010;
    left: 22%;
    width: 45%;
    height: auto;
    margin: 5% auto;
    position: relative;
    box-shadow: 0 0 10px #000;
    border-radius: 15px;
}

.contact .contact-form {
    width: 90%;
    margin: 30px;
}

.contact .contact-form h1 {
    margin: 40px 0;
}

.contact .contact-form input,
.contact .contact-form textarea {
    color: white;
    font-weight: 500;
    font-size: 18px;
    border-radius: 8px;
    line-height: 22px;
    background-color: transparent;
    border: 2px solid #992c8d;
    transition: all 0.3s;
    padding: 13px;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
    margin-bottom: 15px;
}

.contact .contact-form input:focus,
.contact .contact-form textarea:focus {
    border: 2px solid #e63b86;
}

.contact .contact-form input::placeholder,
.contact .contact-form textarea::placeholder {
    color: #242424;
}

.contact .contact-form textarea {
    resize: vertical;
}

.contact .contact-form .btn-send {
    margin: 20px 0;
    letter-spacing: 8px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}